<header id="cb-navigator" class="bar bar-nav cb-box-shadow">
    <div class="cb-navigator-wrapper">
        <div class="cb-cell-layout">
            <div class="cb-cell cb-cell-left">
                <span class="cb-icon cb-icon-prev" data-history="back"></span>
            </div>
            <div class="cb-cell cb-cell-center">
                <h3>{$category}</h3>
            </div>
            <div class="cb-cell cb-cell-right">
                <span class="cb-icon cb-icon-search" data-role="btn-search"></span>
            </div>
        </div>
    </div>
</header>