.no-scroll {
    overflow: hidden !important;
}

.no-scroll #page-wrapper {
    background: #fff !important;
}

#page-wrapper {
     padding-top: 60px; 
}

.cb-body ul {
    list-style: none;
}

#cb-category .cb-category-menudropdown .cb-cateogry-menudropdown-items {
    width: 218px;
    background: #454545;
    min-height: 1px;
    position: fixed;
    z-index: 8;
    top: 100px;
    left: 0px;
    z-index: 30;
}
.cb-chatbot-policytab .active {
    background-color: #1caafc;
    border-color: #1caafc;
}
.cb-chatbot-policytab .active a {
    color: #fff;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.cb-submitbutton, .cb-add-recommendation {
	cursor: pointer;
}
.cb-body .cb-seemore a:visited, .cb-seemore a:link, .cb-seemore a:active, .cb-body .cb-seemore a:hover {
   color: #1caafc;
}
.cb-lost-found-tab .cb-tab-item a:visited, .cb-lost-found-tab .cb-tab-item a:link, .cb-lost-found-tab .cb-tab-item a:active, .cb-lost-found-tab .cb-tab-item a:hover {
    color: #333;
}
.minH {min-height: calc(100vh - (4 * 50px));}

#cb-category .cb-category-menudropdown .cb-cateogry-menudropdown-items > ul .cb-cateogry-menudropdown-item a {
    display: inline-block;
    width: 100%;
}

[data-role="showHide-cat"], [data-role=btn-search] {cursor: pointer;}

.cb-icon-kakao {
    width: 40px;
    height: 37px;
    background: url(../svg/katok.svg) no-repeat center center;
    background-size: 100% 100%;
}

.cb-signup-kakao {
    background-color: #fef200;
}

.cb-signup-kakao .cb-right {
    border-left-width: 1px;
    border-left-color: #333;
}
.cb-signup-kakao .cb-right a {
    color: #333;
}

.bot-link a {
    color : #666;
}

.cb-inputnaked-age li, .cb-address-findbutton, .cb-urlcopy, [data-role="btn-send"], [data-role="btn-preview"] {cursor: pointer;}

#cb-lost-found .cb-inputnaked input {
    color: #333;
}

.cb-lost-found-tab .active {
    border-color: #1caafc;
}
/* notify */
.alert-black {
    color: #fff;
    background-color: #292c33;
    border-color: #2e3036;
    padding: 10px;
    width:90% !important;
}

.botSwitch-off .cb-switch {
    width: 65px;
    height: 29px;
    background-color: #ccc;
    border-radius: 29px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.botSwitch-off .cb-switch-button {
    width: 23px;
    height: 23px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,.6) -1px 0px 2px 0px;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
}
/* mybot/story */
.cb-viewchat-search-result {

}

.cb-viewchat-search-result .cb-management-table {
    width: 100%;
    border-spacing: 0;
}

.cb-management-table th {
    font-size: 15pt;
    font-weight: 200;
    border-bottom: 1px solid #999999;
    padding-bottom: 8px;
    text-align: left;
    padding-left: 40px;
}

.cb-management-table td {
    padding: 10px 10px;
    border-bottom: 1px solid #dcdcdc;
}

.cb-management-table td img {
    width: 51px;
    height: 51px;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.cb-management-table td .cb-name {
    font-size: 15pt;
    font-weight: 200;
    display: inline-block;
    vertical-align: middle;
}

.cb-management-table td .cb-date {
    font-size: 15pt;
    font-weight: 200;
    display: inline-block;
    vertical-align: middle;
}

.cb-management-table td .cb-button {
    width: 80px;
    height: 40px;
    line-height: 37px;
    background-color: #1caafc;
    text-align: center;
    font-weight: 200;
    color: #fff;
    display: inline-block;
}

.cb-management-table tr td:last-child {
    text-align: right;
    padding-right: 0;
}
.cb-viewchat-search-timebox {
    width: 100px;
}
.pt {padding: 25px 0;}

.cb-management-member {
    padding: 50px 35px;
}


.cb-chatting-scroll {
    padding-top: 25px;
    height: 85%;
    overflow-y: auto;
    padding-bottom: 0px !important;
}
.cb-statistic-box {
   width: 100%;
}

.cb-viewchat-search-timebox select {
    height: 100%;
    background: url('../_images/arrow.jpg') no-repeat top right; /* 네이티브 화살표 대체 */
}

.cb-statistic-byrange li {
    cursor: pointer;
}
/* 비번찾기*/
.cb-body .user-guide {
    position: relative;
    font-size: 16px;
    color: #333;
    margin-top: 19px;
}
.cb-body .user-guide .input-val {
    color: #1caafc;
}

.cb-body .user-guide .result-link{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #333;
    font-size: 16px;
    text-decoration: underline;
}
.cb-body .user-guide .danggu {
    display: inline-block;
    width:20px;
}
.cb-body .user-guide li {
    padding-bottom: 10px;
    margin-bottom: 18px; 
}
/* 등록하기  */
.cb-cateogry-menudropdown-items #btn-regis {
    width: 100%;
    font-size: 14pt;
    font-weight: 100;
    color: #fff;
    height: 57px;
    line-height: 57px;
    display: block;
    padding-left: 26px;
    background-color: #d667d0;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
}

.cb-body .registed-mark {
   display: inline-block;
   width: 34px;
   height: 21px;
   padding: 3px 10px;
   background: #dcdcdc;
   font-size: 18px;
   color: #333;
   margin-left:5px;
}

.cb-mychatbot-list .cb-chatbot-item .cb-centerward .cb-button-geturl {
    width: 90px;
    height: 35px;
    line-height: 35px;
    font-size: 12pt;
    text-align: center;
    background-color: #1caafc;
    color: #fff;
    cursor: pointer;
    margin-left: 3px;
}

/* 퍼가기 */
#geturl-wrapper{
    position: relative;
    width:509px;
}
#geturl-wrapper #show-chatbox {
    position: absolute;
    right: 0;
    top: 2px;
    width: 120px;
    height: 35px;
    line-height: 35px;
    font-size: 12pt;
    text-align: center;
    background-color: #1caafc;
    color: #fff;
    cursor: pointer;
}

.cb-body .getbox-wrapper{
    width: 509px;
    margin-top: 66px;
    border-bottom: 1px solid #dcdcdc;
}

.cb-body .getbox-wrapper h1 {
    font-size: 30px;
    color: #000;
    margin: 0px;
}

.cb-body .getbox-wrapper .getbox-inner {
    position: relative;
    height: 230px;
    margin-top: 35px;
    vertical-align: middle;
    text-align: center;
    border: solid 1px #dcdcdc;
}
.cb-body .getbox-wrapper .getbox-inner img {
    width: auto;
    height: auto;
}
.cb-body .getbox-wrapper #sourceImg-type01 img{
   margin-top: 40px;
}
.cb-body .getbox-wrapper #sourceImg-type02 img{
   margin-top: 30px;
}
.cb-body .getbox-wrapper #sourceImg-type03 img{
   margin-top: 15px;
}
.cb-body .getbox-wrapper .copyurl-box {
    display: block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 38px;    
    font-size: 22px;
}
.cb-body .getbox-wrapper .copyurl-box span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border: solid 1px #dcdcdc;
    font-size: 22px;
}
.cb-body .getbox-wrapper .copyurl-box .iframe-source {
    float: left;
    padding-left: 10px;
    width: 432px;
    border-right: none; 
    color: #1469c0;
    background: #f4f4f4;
    overflow: hidden;
}
.cb-body .getbox-wrapper .copyurl-box .iframe-source input{
    width: 100%;
    height: 96%;
    color: #1469c0;
    font-size: 22px;
    border: none;
    box-shadow: none;
    vertical-align: top;
}
.cb-body .getbox-wrapper .copyurl-box .copy-text {
    width: 64px;
    text-align: center;
    border-left: solid 1px #dcdcdc;
    color: #333;
    background: #fbfbfb;
    cursor: pointer;
}
.cb-icon-backward {
    background: url(../svg/PC_left.svg) no-repeat center center;
    background-size: 100% 100%; 
}
.cb-body .file-attached {
    color: #1caafc !important;
}
.cb-chatbot-talking .cb-chatting-balloon {
    height: auto;
}
.cb-chatbot-talking .cb-right {
    height: auto;
}
#cb-chatbot-form .cb-inputnaked-label .cb-selectholder {
    border: none;
}
#cb-chatbot-form .cb-inputnaked-label input, #cb-chatbot-form .cb-inputnaked-label select {
    vertical-align: top;
}
#cb-chatbot-form .cb-inputnaked-label .cb-cell-left span {
    margin-top:8px;
}

#cb-chatbot-banner {
   height: 502px;
}

#cb-category .cb-category-menudropdown .cb-cateogry-menudropdown-items > ul .cb-cateogry-menudropdown-item a {
    width: 100%;
    padding-left: 26px;
}

#cb-category .cb-category-menudropdown .cb-cateogry-menudropdown-items > ul .cb-cateogry-menudropdown-item {
    width: 100%;
    height: 57px;
    line-height: 55px;
    background-color: #454545;
    border-bottom: none;
    box-sizing: border-box;
    padding-left: 0px;
}
.cb-urlcopy-box-wrapper {
    position: relative;
    width: 1110px;
    margin: 0 auto;
}
.cb-urlcopy-box {
    left: 218px !important;
}
#cb-chatzone .modal-chatbox {
    padding: 0 !important;
}

.cb-body .content-right {
     padding-left: 40px;
     padding-top: 40px; 
}

.cb-body .content-right .content-title{
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.cb-icon-close {
    width: 21px;
    height: 21px;
    background: url(../_images/btn_close2.png) no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-close {
    margin-top: 0;
}

.cb-icon-house {
    margin-top: 0;
}

.cb-hidden {
    display: none;
}

.cb-botwrapper .cb-icon-mbot {
    margin-top: 2px;
}

.cb-userwrappers {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.cb-userwrappers img{
    border-radius: 50%;
}

.cb-slidebanner-items .swiper-slide:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.cb-slidebanner-items .swiper-slide.swiper-slide-next:before {
   background-color: rgba(0, 0, 0, 0);
}
.cb-logoarea a{
   position: absolute !important;
   display: inline-block;
   width: 205px;
   height: 33px !important;
}

/* 이모티콘 */
#cb-chatzone .cb-chatzone-wrapper {
    position: relative;
}
#cb-chatting-input {
    width: 100%;
    height: auto !important;
    background: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#cb-chatting-input .cb-chatting-icon li {
    line-height: 0;
    padding: 20px 0;
}

#cb-chatting-input .cb-right {
    /*padding-top: 20px;*/
}

#cb-chatting-input .cb-layout {
    background: #fff !important;
}

.cb-body .emoticon-wrapper {
    display: none;
    overflow: hidden;
    padding: 15px 5px;
    background: #e6e6e6;

}
.cb-body .emoticon-wrapper ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
.cb-body .emoticon-wrapper li {
    display: inline-block;
    float: left;
    text-align: center;
    width: 12.5%;
    cursor: pointer;
}

.cb-body .emoticon-wrapper li img{
   border-radius: 0 !important;
}
.cb-body .emoticon_wrap img {
    width: 47px;
    height: 47px;
    border-radius: 0;
}

.cb-chatting-balloon-selection span {
    font-size: 12pt !important;
    font-weight: 200;
    line-height: 1.4em;
}
.cb-body .icon-go-wrap {position: relative;}
.icon-go-wrap .cb-icon{
   width:15px;
   height: 12px;
   background: url(../svg/go.svg) no-repeat center left;
   background-size: 100% 100%;
   position: absolute;
   top:8px;
   right: 10px;
}

#cb-category .cb-category-menudropdown #btn-home {
    width: 100%;
    font-size: 13pt;
    font-weight: 100;
    color: #fff;
    height: 57px;
    line-height: 57px;
    display: block;
    padding-left: 26px;
    background-color: #1caafc;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,.6) 0px 0px 10px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
}

.cb-lost-found-profileholder > div .cb-icon-usered {
    width: 60px;
    height: 66px;
}
/* 메인 슬라이더 수정 */
#cb-slidebanner .cb-slidebanner-wrapper {width: 100% !important;}
#cb-slidebanner .cb-slidebanner-items {width: 100% !important;}
#cb-slidebanner .cb-slidebanner-item {width: auto;}
.swiper-slide-next {width: 60% !important; margin-left: -12.5%}
#cb-slidebanner .cb-slidebanner-items ul {width: 100% !important;margin-left: 0 !important;}

/* view.php 봇로고 이미지 배경*/
.cb-service-description .cb-service-description-image img {
    background: #fff;
}

.cb-row-5d {
   margin-bottom: 30px;
}

#cb-chatting-input .cb-chatting-icon li .cb-chatting-send {
   width: 34px;
   height: auto;
   padding: 8px;
   font-size: 13pt;
   line-height: 25px;
   margin-left: -13px;
   margin-top: -8px;
   position: absolute;
   right: 0;
}
.cb-chatbot-recommendation .cb-chatbot-recommendation-list input[type=text] {
     color: #b5b5b5;
}

#cb-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-size: 100% 100%;
    z-index: 50;
}

body #cb-category-content {
    margin-top:100px;
    height: 98%;
    overflow: auto;
    overflow-anchor: none;
} 

/* 업체 질문 추가 */
.cb-chatbot-case .vq-question {
    height: 80px !important;
}
.cb-chatbot-case .vq-question .category {
    float:left;
    width: 10%;
    height: 80px;
}
.cb-chatbot-case .vq-question .category select {
    width: 95%;
    padding: 5px 0;
    border: solid 1px #dcdcdc;
}
.cb-chatbot-case .vq-question .question {
    float:right;
    width: 100%;
    height: 80px;
}
.cb-chatbot-case .vq-question textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}

#vqa-rows .cb-chatbot-case{
    margin-bottom: 10px !important;
}

.cb-service-banner .view-logo{
   position: absolute;
   display: inline-block;
   width: 550px;
   height: 89px;
   z-index: 10;
   left: 35%;
   top: 40%; 
}

.intro-img-wrappper {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.intro-img-wrappper img {

}

/* intro-bottalks */
#intro-bottalks #bottalks-1 {
   height: 521px;
}
#intro-bottalks #bottalks-2 {
   height: 843px;
}
#intro-bottalks #bottalks-3 {
   height: 896px;
}
#intro-bottalks #bottalks-4 {
   height: 1275px;
}
#intro-bottalks #bottalks-5 {
   height: 811px;
}

/* intro-premium */
#intro-premium #premium-1 {
   height: 524px;
}
#intro-premium #premium-2 {
   height: 530px;
}
#intro-premium #premium-3 {
   height: 684px;
}
#intro-premium #premium-4 {
   height: 688px;
}
#intro-premium #premium-5 {
   height: 748px;
}

/* intro-custom */
#intro-custom #custom-1 {
   height: 517px;
}
#intro-custom #custom-2 {
   position: relative; 
   height: 927px;
}
#intro-custom #custom-3 {
   height: 865px;
}
#intro-custom #custom-4 {
   height: 828px;
}
#intro-custom #custom-5 {
   height: 734px;
}
#intro-custom #custom-6 {
   height: 745px;
}
#intro-custom #custom-7 {
   height: 891px;
}

.intro-img-wrappper img {
    display: table;
    margin: 0 auto;
}

#intro-custom {
   position: relative;
}

#intro-custom #custom-1 #custom01-inner {
     position: relative;
     width: 1100px;
     margin: 0 auto;
     height: 100%;
}

#intro-custom #custom-1 #custom01-inner #btn-wrapper {
    position: absolute;
    top: 320px;
    right: 210px;
}

#intro-custom #custom-1 #custom01-inner #btn-wrapper .intro-btn {
    width: 238px;
    height: 50px;
    margin: 10px 0;
}
#intro-custom #custom-1 #custom01-inner #btn-wrapper .intro-btn img {
    width: 100%;
    height: 100%;
}

#intro-custom .banner-wrapper {
    position: absolute;
    width: 100%;
    top: 360px;
}

#intro-custom .banner-wrapper .banner-inner{
    position: relative;
    margin: 0 auto;
    width: 1110px;
    height: 545px;
}
#intro-custom .banner-wrapper .banner-inner .swiper-container {
    width: 984px;
}

#intro-custom .swiper-slide-next {
    width: 100% !important;
    margin-left: 0 !important;
}

#intro-custom .banner-wrapper .cb-icon-next {
    top: 45%;
    width: 41px;
    height: 75px;
    background: url(../_images/right.png) no-repeat center center;
    background-size: 100% 100%;
   
}

#intro-custom .banner-wrapper .cb-icon-prev {
    top: 45%;
    width: 41px;
    height: 75px;
    background: url(../_images/left.png) no-repeat center center;
    background-size: 100% 100%;
   
}
#intro-premium .small-banner {
    width: 60%; 
    margin: 112px auto;
}

/* keyword 설정 페이지 : vendor/makekeyword  */

#keywordBox-wrapper {
    width: 95%;
    margin: 0 auto;
    padding-top: 3%;
}
#keywordBox-wrapper .keywordBox-inner{
    float:left;
    width: 25%;
}

#keywordBox-wrapper .keyword-Box {
    border: solid 1px #d9d9d9;
    border-right: none;
    
}

#keywordBox-wrapper .keyword-Box .keywordList-wrapper {
    position: relative;
    padding: 15px;
    height: 400px;
    overflow: auto; 
}

#keywordBox-wrapper .keyword-Box .keyword-title {
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px #d9d9d9;
    padding: 7px 0;
    background: #f2f2f2;
}

#keywordBox-wrapper .last-box {
    border-right: solid 1px #d9d9d9;
}

#keywordBox-wrapper .addBtn-wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 15px 5px;    
    clear: both;
}

#keywordBox-wrapper .addBtn-wrapper .cb-btn-addKeyword{
    width: 90%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #1caafc;
    color: #fff;
    cursor: pointer;
}

#modal-addKeyword .modal-dialog {
    margin-top: 10% !important;
}  

#modal-updateKeyword .form-group {
    width: 100%;
    float: left;
}

#modal-updateKeyword .form-group .ta-link {
    height: 55px;
}

#modal-updateKeyword .form-group .ta-content {
    height: 80px;
}


#modal-updateKeyword .cb-chatbot-form-profileholder > #preview-fimg{
    border-radius: 10% !important;
} 


/**
 * Nestable
 */

.dd {
    position: relative; 
    display: block; 
    width: 100%;
    margin: 0; 
    padding: 0; 
    list-style: none; 
    font-size: 13px; 
    line-height: 20px; 
}

.dd-list { 
    display: block;
    width: 100%; 
    position: relative; 
    margin: 0; 
    padding: 0; 
    list-style: none; 
}

.dd-item,
.dd-empty,
.dd-placeholder { 
    display: block; 
    position: relative; 
    width: 100%;
    margin: 0; 
    padding: 0; 
    min-height: 20px; 
    line-height: 20px; 
}

.dd-handle { 
    display: inline-block; 
    width: 10%;
    margin: 5px 0; 
    padding: 5px 5px; 
    text-decoration: none; 
    border: 1px solid #f1f1f1;
    border-right: none;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
    cursor: move;
    font-size: 13px;
    color: #333;
}

.kwd-name { 
    display: inline-block; 
    width: 68%;
    margin: 5px 0; 
    margin-left: -5px;
    padding: 5px 10px;
    padding-left: 15px; 
    text-decoration: none; 
    border: 1px solid #f1f1f1;
    border-left: none;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
    cursor: pointer;
    font-size: 13px;
    color: #333;
}

.dd-handle.active, .kwd-name.active { 
    color: #2ea8e5; 
    background: #eee;
}

.dd-item > button { 
    display: block; 
    position: relative; 
    cursor: pointer; 
    float: left; 
    width: 35px; 
    height: 35px; 
    margin: 5px 0; 
    padding: 0; 
    text-indent: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    border: 0; 
    background: transparent; 
    font-size: 13px; 
    line-height: 1; 
    text-align: center; 
}



.dd-placeholder,
.dd-empty { 
    margin: 5px 0; 
    padding: 0; 
    min-height: 30px; 
    background: #f2fbff; 
    border: 1px dashed #b6bcbf; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box
}

/*.dd-empty { 
    border: 1px dashed #bbb; 
    min-height: 100px; 
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}*/

.dd-dragel { 
    position: absolute; 
    pointer-events: none; 
    z-index: 9999; 
}

.dd-dragel > .dd-item .dd-handle { margin-top: 0; }

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.dd-item .dd-handle .fa-arrows {
    opacity: 0.2;
}

.dd-item .kwd-icon {
    display: inline-block;
    cursor: pointer;
}

.kwd-icon .fa {
    font-weight: normal;
    font-size: 1.6rem;
    margin-left: 1px;
    opacity: 0.2;
}
.kwd-icon .fa-eye {
    opacity: 0.3;
}
.kwd-icon .fa-eye {
    opacity: 0.5;
}

.dd-item .kwd-icon .fa:hover {
    opacity: 1;
}


.dd-item .kwd-icon .fa-trash {
    color: #dc3545;
}

.dd-item .kwd-name {
    opacity: 1 !important;
    font-weight: bold;
}

#show-timer{
    position:absolute;
    padding: 15px;
    text-align: center;
    background: #000;
    color: red;
    font-size: 1.5rem;
    font-weight: 800;
    font-style: italic;
    bottom:60px;
    right:-150px;
    width:80px;
    height:30px;
    z-index:1000;
    opacity: .9;
    font-family: "Bank Gothic", "Futura", "Arial";
    text-shadow: 0 0 30px rgb(0, 200, 255);
}

body {padding-top: 0 !important}

#chat-header-wrap .btn-show-top {position: absolute;width: 31px;height: 17px;bottom:40px;right:40px;cursor: pointer;transition: .5s;}
#chat-header-wrap .btn-show-top.smaller {width: 15px;height: 8px;right: 5px;bottom: 15px;transition: .5s;}

 #langsel2 {
    display: none;
    position: absolute;
    display: none;
    height: auto;
    padding: 10px;
    top: 50px;
    left: -50%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #666;
    font-size: 12px;
    text-align: left;
    z-index: 5;
}
#langsel2 li {
    margin: 10px 0 0px 0;
}
.langbox {position: relative;}
#langsel2 .langimg {
    display: inline-block;
    width: 20px;
    height: auto;
    vertical-align: middle;
    border: solid 1px #d9d9d9;

}

#langsel2 a {color: #333 !important;font-size: 10pt;}
#langbox-wrap {position: absolute; right: 85px;}
.skiptranslate {height: 0 !important}
.goog-te-banner-frame.skiptranslate { display: none !important;height: 0 !important} 
#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip skiptranslate{display: none !important; top: 0px !important;height: 0 !important } 
.activity-root { display: none !important;} 
.status-message { display: none !important;}
.started-activity-container { display: none !important;}

#msgChat-wrapper #cb-chatting-body {
    padding-bottom: 0;
} 

.kwd-menu {
   display: inline-block;
   border: solid 1px #999; 
   border-radius: 8%;
   padding: 5px 7px;
   font-weight: bold;
   font-size: 1rem;
   background: #fff;
   color: #333 !important;
   cursor: pointer;
}

.kwd-item{
   display: inline-block; 
   text-align: center;
   border: solid 1px #1caafc; 
   width: auto !important;
   border-radius: 25px;
   font-weight: bold;
   font-size: 1rem;
   background: #fff;
   color: #333 !important;
   padding: 10px 25px;
   cursor: pointer;
}

.keyword-swiper .swiper-slide-next {
    margin-left: 0 !important;
    margin-bottom: 30px;
}
.keyword-swiper {
    padding-left: 20px;
    clear:both;
}

/* notify */
#chatting-container {
    position: relative;
}

#kiere-notify {
    visibility: hidden;
    width: 100%;
    position: absolute;
    z-index: 99999;
    bottom: 30px;
}

#kiere-notify-msg {
    width: 80%;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    font-size: 17px;
}

#kiere-notify.active {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* notify */
.del-eventGoods {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30%;
    right: -5px;
    cursor: pointer; 
    z-index: 100;
    background: url('../_images/x.png') no-repeat center center;
    background-size: 80%;
    background-color: #333;
    opacity: .5;
    border-radius: 50%; 
}

.cb-chatbot-factory-wrapper h1{
    font-size: 22pt;
    font-weight: 200;
    margin: 0;
    margin-top: 10px;
} 

/* vendor 페이지 디자인 */
.vendorPage .cb-category-content-wrapper {
    background: #454545 !important;
}

.vendorPage .cb-content .minH {
    background: #fff !important;
}

/* vendor > reply 관리 (카테고리 출력)*/
#rb-body .panel-heading a {
    text-decoration: none;
    display: block;
}

#rb-body .tab-content .form-group.tab-content {
    border: 0;
    padding: 0 15px;
}

#rb-body .tab-content .form-group {
    margin-bottom: 25px;
}

.help-text {
    margin-top: 5px
}

.rb-tree .rb-icon > li:first-child:before {
    top: -15px;
}


.form-horizontal .tab-content {
    border: 0;
    padding-top: 0;
    padding-bottom: 0
}

.rb-nestable-buttons {
    padding-bottom: 0;
}


.rb-menu-select option.selectcat2 {
    color: red
}

.rb-menu-select option.selectcat2 span:before {
    content: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ㄴ"
}

.rb-advance {
    border-top: 1px solid #EFEFEF;
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 30px
}

.rb-advance .btn span:before {
    content: "숨기기"
}

.rb-advance .btn.collapsed span:before {
    content: "표시"
}

.rb-blank {
    line-height: 350px;
    text-align: center;
    color: #999
}


.form-horizontal .has-feedback.rb-outside .form-control-feedback {
        left: -925px;
}


.input-group-btn:last-child>.btn,
.input-group-addon:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.rb-guide {
    margin: 5px 0 0;
    padding: 15px;
    color: #777;
    border-top: 1px solid #eee;
    font-size: 13px
}

.rb-guide dt {
    margin-bottom: 5px
}

#menu-advance {
    padding: 15px 0
}

#menu-advance .form-group {
    margin-bottom: 25px;
}


.form-group .breadcrumb {
    margin-bottom: 0
}

#menu-settings {
    padding-top: 15px;
    margin-top: 40px;
    border-top: 1px solid #EFEFEF
}

#menu-settings .panel-default {
    border: none;
    box-shadow: none;
}

#menu-settings .panel-default>.panel-heading {
    background-color: transparent;
    border: none;
}

#menu-settings .panel-default .panel-title>a {
    color: #428bca;
}

/*panel-form*/
.rb-panelform {
    margin-bottom: 0
}

.rb-panelform .panel-body {
    padding: 0
}

.rb-panelform .form-control {
    border-radius: 0
}


/*
@media (min-width:768px) {

    #rb-body .dl-horizontal {
        margin-top: 7px
    }
    #rb-body .dl-horizontal dt {
        width: 80px;
    }
    #rb-body .dl-horizontal dd {
        margin-left: 100px;
    }
}
@media (max-width: 1199px) {

    .form-horizontal .control-label {
        margin-bottom: 5px;
    }

}
*/
@media (min-width: 1200px) {
    .form-horizontal .has-feedback.rb-outside .form-control-feedback {
        width: 46px;
        height: 46px;
        line-height: 46px;
        right: -25px;
        left: auto
    }
    #menu-settings .panel-body {
        padding-left:0; 
        padding-right:0;
    }
}

.rb-top-btnbox {
    position: relative;
    top:-10px;
}
@media (max-width: 767px) {
    #rb-body .row,
    #rb-body .xrow {
        margin-right: -16px;
        margin-left: -16px;
    }
}

.rb-tree ul > li {
    float:none !important;
}

.rb-form label {
    font-size: 16px;
    color: #333;
}

.rb-form .label-fa {
    margin-right: 5px;
    color: #1caafc;
    background: none; 
}

/* card css */
.card {
    width: 237px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e3e3;
    border-radius: .25rem;
}

.if-card {
    width: 250px;
}

.card-img-more {
    height: 320px;
    background: #fff url(../_images/card-more.png) no-repeat center center;
    cursor: pointer;
}
.image-img-more {
    height: 180px;
    background: #fff url(../_images/card-more.png) no-repeat center center;
    cursor: pointer;
}
.menu-img-more {
    height: 93px;
    background: #fff url(../_images/menu-more.png) no-repeat center center;
    cursor: pointer;
}

.card-img-wrapper {
    height: 180px;
    background: #fff url(../_images/card-blank.png) no-repeat center center;
    cursor: pointer;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);    
    border: none !important;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
   
}

.card-body .card-text {
    padding: 0.7rem 0.8rem;
    border-top: solid 1px #e3e3e3;
}

.card-body .card-text input[type="text"], .card-body .card-text select, .card-body .card-text textarea {
    width: 100%;
    padding: 1.25rem;
    border: 0 !important;
}

.card-body .card-text .menu-title {
    font-weight: bold;
}

.card-body .card-text input[type="text"], .card-body .card-text select {
    height: 46px;
}

.card-body .card-text textarea{
    height: 60px;
}

.card-text:last-child {
    margin-bottom: 0;
}

.cb-chatbot-factory-wrapper .form-group .fg-content {
    float: left;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: #e1e1e1 dotted 1px;
}

.cb-chatbot-factory-wrapper .scroll-group {
    position: relative !important;
    overflow-x:scroll; 
    margin-top: 40px;

}

.cb-chatbot-factory-wrapper .scroll-group .fg-content{
    width: 3000px;
}

.cb-chatbot-factory-wrapper .label-box {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.cb-chatbot-factory-wrapper .form-group{
    position: relative;
}

.btn-primary, .btn-primary.disabled {
    background: #009efb;
    border: 1px solid #009efb;
}

.btn-primary:hover {
    background: #2eadf7;
}


.rb-tree .rb-active {
    color: #1caafc !important;
}


.content-header{
    position: relative;
    padding: 5px 0 15px 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #e3e3e3;
}
.content-header h3 {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: bold;    
}


.content-header .btn-save {
    width: 125px;
    height: 37px;
    position: absolute;
    text-align: center;
    padding-top: 10px;
    line-height: 120%;
    right:0;
    bottom: 5px;
    color:#fff;
    font-size: 1.5rem;
    background: #1caafc;
    border-radius: 5px;
    cursor: pointer; 
}

.cb-chatbot-factory-wrapper .select-show {
    position: relative;
    height:40px;
}

.cb-chatbot-factory-wrapper .select-show div {
    position: absolute;
    right: 8px;
}

.cb-chatbot-factory-wrapper .select-show .showHide-label {
    display: inline-block;
    position: absolute;
    right: 90px;
    top: 3px;
}
.cb-chatbot-factory-wrapper .select-show .showHide-label .active{
     color:#1caafc;
     font-weight: bold;
}

.main-color {
    color: #1caafc;
}

#total-wrap {
    height: 100%;
}

figure img {
    width: 100% !important;
}

.kwd-menu, .cb-chatting-received .cb-chatting-balloon strong {
   display: inline-block;
   width: auto !important;
   border: solid 1px #999; 
   border-radius: 8%;
   padding: 5px 10px;
   font-weight: bold;
   background: #fff;
   color: #333 !important;
}

.kwd-item  {
    display: inline-block;
    text-align: center;
    border: solid 1px #1caafc;
    width: auto !important;
     border-radius: 25px;
    font-size: 1.5rem;
    background: #fff;
    color: #333 !important;
    padding: 10px 25px;
    cursor: pointer;
}
.kwd-item a {
    position: relative;
    color: inherit !important;
}
.kwd-item a .kwd-replyImg {
    position: absolute;
    top: 50%;
    left: 50%;
    width:0px;
    height:0px;
}

.keyword-swiper .swiper-wrapper {
    height: auto !important;
    margin-bottom: 1.8rem;
}

.keyword-swiper .mv-slot-item {
    display: inline-block;
    height: 285px;
    position: relative;    
    border: 1px solid #dcdcdc;
    cursor: pointer;
    margin-right: 5rem;
    overflow: hidden;
 }

 .keyword-swiper .mv-slot-item .poster-wrapper {
    height: 82%;
    background-size:cover;
    background-position:center;
 }
 .keyword-swiper .mv-slot-item .slot-more-wrapper {
    height: 100%;
    background: url(../_images/add.png) #fff no-repeat center center; 
    opacity: 0.7;
 }
 
.keyword-swiper .mv-slot-item .slot-title {
    position: absolute;
    bottom: 0;
    background: #fff;
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    word-wrap: break-word;
}

.cb-statistic-box .list-group li {
    width: 100%;
}

.cb-statistic-box h4, .cb-statistic-box ul {
    margin-left: 5%;
}

.cb-statistic-box h4 {
    padding-bottom: 10px;
}

.input-daterange input {
    width: 94% !important;
}

.logo-img {
    border-radius: 50%;
}

.dash-botList .white-box {
    padding: 16px;
}

.dash-botList .white-box .col-in {
    height: 150px;
    padding: 0;
}
.dash-botList .botList-title {
    display: inline-flex;
    align-items : center;

}
.dash-botList .botList-title h1 {
    display: inline-block;
     -ms-flex-preferred-size: auto;
    flex-basis: auto;
    font-size: 1.953em;
    font-weight: 300;
}
.dash-botList .botList-title .btn-addBot {
    margin-left: 32px;
}
.dash-botList .botList-title .btn-addBot .btn {
    padding: 6px 18px !important;
    font-size: 1.1em;
    line-height: 160%;
    font-weight: 200;    
}
.dash-botList .botList-title .btn-addBot .fa {
    font-size: 1.1em;
    margin-left: 5px;
    vertical-align: middle;
} 

.dash-botList h3 {
   font-size: 1.25em !important;
   font-weight: 300;
}
.dash-botList .dash-botName {
    color: #047cc0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0.7em;
    line-height: 2em;
}
.dash-botList .botMenu-wrapper {
    position: absolute;
    right: 10px;
    top: 5px;
}
.dash-botList .botMenu-wrapper .dropdown-toggle .fa {
    display: inline-block;
    font-size: 1.8em;
    width: 5px;
    padding:0 10px;
    color: #999;
    font-weight: 10;

}

.dash-botList .botMenu-wrapper .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    background: #f3f3f3;
}

.dash-botList .dropdown-item {
    display: block;
    width: 100%;
    padding: .7rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dash-botList .dropdown-item:hover {
    background: #d0dada;
} 

.dash-botList .bot-itemBox {
   border:solid 1px #f3f3f3;
}
.dash-botList .bot-itemBox:hover {
    border:solid 1px #047cc0;
    cursor: pointer;
}

.dash-botList .bot-itemBox .dash-botService {
    color: #777677;
}

.resItem-img-wrapper .img-more {
    height: 180px;
    background: #fff url(../_images/card-more.png) no-repeat center center;
    cursor: pointer;
}

.resItem-hMenu-wrapper .img-more {
    height: 93px;
    background: #fff url(../_images/menu-more.png) no-repeat center center;
    cursor: pointer;
}

.resItem-card-wrapper .img-more {
    height: 320px;
    background: #fff url(../_images/card-more.png) no-repeat center center;
    cursor: pointer;
}

/* text, menu 외 tel, img 답변 */ 

.chatResImg-inner {
    background: #f3f3f3;
    border-radius: 2px;
    padding: 10px;
}

.chatRes-wrapper .resImg {
    height: 200px;
}

.chatResTel-inner {
    background: #f3f3f3;
    border-radius: 2px;
    padding: 10px;
}

.chatResTel-inner .resTel-title {
    font-weight: normal;
    color: #232323;
    margin-bottom: 15px;
}

.chatRes-wrapper .resTel {
    background: #fff;
    border-radius: 1px;
    text-align: left;    
}

.chatRes-wrapper .resTel .fa,
.chatRes-wrapper .resTel .glyphicon {
    vertical-align: middle;
    margin-right: 5px; 
}
.chatRes-wrapper .resTel a {
    display: block;
    height: 20px;
    padding:10px;
    color: #333 !important;
}

/* 데이타 테이블 */
.dT-container {
    width: auto; 
}
.dT-table {
    width: auto !important;
    margin-bottom: 0px !important;
}
.dT-table td {
    height: 20px;
}
.dT-table th {
    background: #f5f5f5;
    padding: 0 !important;
}

.dT-table th, .dT-table td{
    font-size: 1.1rem;  
    width: 140px !important;  
} 

.dT-table th {
    height: 40px;
}

.dT-table .gubun {
    width: 265px;
    text-align:center;
    border-left: solid 1px #ddd;
 }

.dT-table .entity-td, .dT-table .entityVal-td{
    width: 130px !important;
}
.dT-table .dT-td {
   padding: 0 !important;
   vertical-align: middle !important;
}
.dT-table thead th span {
    display: inline-block;
    margin-left: -1px;
    width: 141px;
    height: 40px;
    padding: 12px 0px 10px 10px;
    line-height: 1.42857143;
    top:0;
    background: #f9f9f9;
    border: solid 1px #ddd;
}
.dT-table .dT-td input[type="text"] {
    border: none !important;
    width: 100%;
    height: 36px;
    padding: 5px;
}

.dT-table .dT-td:focus-within{
    border: solid 1px #1caafc !important;
}

.dT-td .form-control {
    font-size: 1.1rem !important;
}

.dT-td textarea {
    font-size: 0.8rem !important;
    border: none;
}

/* dataTable th 고정기능 위해 필요 */
.intEntTable-wrapper #dataSetPanel #dataTable-Parent {
   position: relative; 
   margin-left: 32px;
   overflow-x: auto;
   overflow-y: hidden; 
}

.intEntTable-wrapper #dataSetPanel #dataTable-wrapper{
   position: relative; 
   width: 95%;
   overflow-x: auto;
   overflow-y: hidden; 
}

.intEntTable-wrapper #dataSetPanel #dataTable-container {
    position: relative;
    margin: 0;
    padding: 0;
}

.intEntTable-wrapper #dataSetPanel #dataTable-container .panelScroll {
    position: static !important;
    padding: 0;
    padding-top:36px;
}

.intEntTable-wrapper .panelScroll {
    position: relative;
    width: 100%;
    padding: 32px;
    padding-right: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-anchor: none;
    clear: both;
}

/* dataTable2 : scroll-x fix */

.dTTable-Entity thead th span {
    position: static;
    border: none;
}
.dTTable-Entity th, .dTTable-Entity td {
    background: #fff !important;
} 

#cb-header .cb-logoarea .logo-img {
    border-radius: 0;
}


/*footer > main 페이지 */
.main-pageWrapper {
    margin-left: 0 !important;
}
.main-footer {
    left: 0 !important;
}
.cb-body .navbar-right img {
    width: 100%;
    height: 100%;
}

.cb-body .navbar-right .cb-userwrappers img{
    margin-top: -30px;
}

/* side-menu */
#side-menu .submenu li a,
#side-menu li a{
    color: #687384;
    font-weight: 400;
}
/*#side-menu .submenu li a{
    color: #858625;
}
*/
.sidebar {
      background: #242a33;
}

@media (min-width: 768px){
    .sidebar {
        position: fixed;
        left: 0px;
    }
}

.navbar-header {
    background-color: #1f262d;
}
#side-menu {
    padding-left: 5px;
    border-bottom: 1px solid #303942;
}
#side-menu > li {
    border-top: 1px solid #303942;
    border-bottom: 1px solid #151617;
}

#side-menu > li > a {
   padding: 12px 30px 12px 15px;
}


#side-menu .submenu li {
   line-height: 20px;
}

#side-menu .submenu li a {
    padding: 15px 0 15px 0px;
    display: block;
    font-size: 0.9em;
    font-weight: 100;
}

#side-menu > li.active > a,
#side-menu > li.sideMenu > a:hover{
    /*background: #1caafc;*/
    color: #009efb;
} 


#side-menu .submenu {
    background: #14171c;
}

#side-menu .submenu li a{
    padding-left: 40px;
}

/* 메뉴 아니고 챗봇인경우 */

#side-menu>li>a.active {
    border-left: none !important; /*3px solid #1caafc !important;*/
    color: #009efb !important;
}

#side-menu>li>a.active i {
    color: #009efb !important;
}

#side-menu .submenu li {
    list-style-type: none;
}

#side-menu .submenu li.active {
   /* background: #5f6a72;*/
}


#side-menu .submenu li.active a,
#side-menu .submenu li a:hover{
    color: #009efb;
}

#side-menu .has-arrow::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    right: 1.5em;
    opacity: 0.8;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    transform-origin: top;
    top: 23px;
    transition: all .3s ease-out;
}


#side-menu > li.active > .has-arrow::after {
    border-color: #009efb;
    transform: rotate(-135deg) translate(0, -50%);
}
#side-menu .bot-config {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
}

.cb-botwrapper {
    width: 35px;
    height: 35px;
    background-color: #d468ce;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 4px;
    position: relative;
}
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.cb-body {
    font-family: "Nanum Gothic", sans-serif !important;
    padding: 0;
    margin: 0;
}

.cb-body header,
.cb-body ul, 
.cb-body p,
.cb-body header h1, .cb-body h2, .cb-body h3, .cb-body h4, .cb-body h5 {
    padding: 0;
    margin: 0;
    font-family: "Nanum Gothic", sans-serif !important;

}

.cb-body a, 
.cb-body a:visited, 
.cb-body a:hover, 
.cb-body a:link, 
.cb-body a:active {
    text-decoration: none;
    vertical-align: middle;
}

/* Icons */

.cb-icon-menu {
    width: 36px;
    height: 31px;
    background: url("../svg/menu.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-option {
    width: 36px;
    height: 31px;
    background: url("../svg/option.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-search {
    width: 21px;
    height: 21px;
    background: url("../svg/search.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-mbot {
    width: 65px;
    height: 65px;
    background: url("../_images/bot.png") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-prev {
    width: 44px;
    height: 80px;
    background: url("../svg/PC_left.svg") no-repeat center center;
    /*background-color: #ffd800;*/
    background-size: 100% 100%;
}

.cb-icon-next {
    width: 44px;
    height: 80px;
    background: url("../svg/PC_right.svg") no-repeat center center;
    /*background-color: #ffd800;*/
    background-size: 100% 100%;
}

.cb-icon-facebook {
    width: 16px;
    height: 34px;
    background: url("../svg/fabok.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-naver {
    width: 27px;
    height: 26px;
    background: url("../svg/naver.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-kakaotalk {
    width: 40px;
    height: 37px;
    background: url("../svg/katok.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-user {
    width: 60px;
    height: 66px;
    background: url("../svg/user.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-camera {
    width: 56px;
    height: 49px;
    background: url("../svg/cam.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-robot {
    width: 52px;
    height: 51px;
    background: url("../svg/l_menu1.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-tool {
    width: 52px;
    height: 51px;
    background: url("../svg/l_menu2.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-msg {
    width: 52px;
    height: 51px;
    background: url("../svg/l_menu3.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-shopper {
    width: 29px;
    height: 29px;
    background: url("../svg/shop.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-agent {
    width: 52px;
    height: 51px;
    background: url("../svg/l_menu5.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-house {
    width: 21px;
    height: 21px;
    background: url("../svg/home.svg") no-repeat center center;
    background-size: 100% 100%;
    margin-top: -5px;
}

.cb-icon-smile {
    width: 30px;
    height: 30px;
    background: url("../svg/imo.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-recom {
    width: 30px;
    height: 30px;
    background: url("../svg/recom.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-go {
    width: 10px;
    height: 12px;
    background: url("../svg/go.svg") no-repeat center center;
    background-size: 100% 100%;
}

.cb-icon-backward {
    width: 30px;
    height: 15px;
    background-color: #ffd800;
}

.bg-title {
    padding-bottom: 20px;
}

/* 대화내역 */
.cb-management-table td img {
    width: 51px;
    height: 51px;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.cb-chatting-received .cb-left .cb-chatting-sender {
    width: 100%;
    height: 100%;
}
.cb-chatting-received .cb-left .cb-chatting-sender img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #2E363F;
    border-color: #124263;
}

.cb-body input[type=text], .cb-body input[type=submit], .cb-body select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}
.cb-cell-layout {
    width: 100%;
    display: table;
}

.cb-cell {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
}

#cb-navigator .cb-cell {
    box-sizing: border-box;
    padding: 15px 0;
}

#cb-navigator .cb-cell-left {
    width: 70px;
    padding-left: 20px;
}

#cb-navigator .cb-cell-right {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 20px;
}

.cb-icon, .cb-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.white-box .box-title {
    margin: 0 0 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.container-static {
    background: #fff;
    padding: 0 10px;
}

.container-static .table-full {
    border-top: solid 2px #f1f1f1;
}

.container-static .table-full th, 
.container-static .table-full td {
   padding: 8px 15px;
}

.container-static .bg-title {
    margin-bottom: 0;
}

.dash-botList header {
    margin: 50px 0 20px 0;
}

.btn-default {
    transition: 0.2s ease-in;
    background-color: #ffffff;
    color: #67757c;
    border-color: #e4e7ea;
}

.btn-default:hover{
    border-color: #b3b2b2;
    background-color: #b9b9b9;
}

#side-menu>li.no-menu> a.active span,
#side-menu>li.no-menu> a.active i{
    color: #687384 !important;
} 

.form-material label {
    color: #454545;
    font-weight: 600;
}

.form-material label.input {
    padding-top: 8px;
}

.botAvatar-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 4px;
    position: relative; 
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer; 
}

/* toast alert*/
.jq-icon-success { 
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII='); 
    color: #fff; 
    background-color: #303942; 
    border-color: #14171c; 
}

.table-fluid .table-full {
    margin-bottom: 0;
}

.table-fluid .bg-title {
    margin-bottom: 0 !important;
}

.table-fluid .table-container {
    margin: 0 -25px;
    background-color: #fff;
}

.table-fluid .table-container table td,
.table-fluid .table-container table th {
    padding: 10px 0 !important;
    padding-left: 25px !important;
    border-top: none !important;
}

.table-fluid .table-container .table-tool {
    padding: 15px 25px;
    background: #f6f6f6;
}

.table-fluid .table-container .table-tool .tool-btn {
    margin-right: 15px;
}
.table-fluid .table-container .table-header {
    line-height: 26px;
    border-bottom: 2px solid #d8d8d8 !important;
    background-color: #fff;
    position: relative;
    min-width: 0;
    height: 48px; 
}
.table-fluid .intEntTable-wrapper {
    width: 100%;
    position: relative;
    background: #fff;
}
.table-fluid .table-wrapper{
    position: absolute;
    width: 100%;
    top: 0;
}

.table-fluid .intEntTable-wrapper .table-wrapper {
    height: 600px;
    overflow-y: auto; 
    background: #fff;
}
.table-fluid .intEntTable-wrapper .table-wrapper .intEnt-chk {
    width: 5%;
}
.table-fluid .intEntTable-wrapper .table-wrapper .intEnt-name {
   width: 20%;
}

.table-fluid .right-panel {
    position: absolute;  
    width: 77%;
    background: #fff;
    border-left: solid 1px #d8d8d8;
    border-right: none;
    -moz-transition: all 180ms ease-in;
    -webkit-transition: all 180ms ease-in;
    -o-transition: all 180ms ease-in;
    transition: all 180ms ease-in;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 40;
    top: 0px;
    bottom: 0px;
    right: 0;
    margin: 0 -77% 0 0;
}

.table-fluid .right-tempDataPanel {
    width: 90%;
    margin: 0 -90% 0 0;
}

.table-fluid .right-panel .rightPanel-inner {
    position: relative;

}

.table-fluid .right-panel .rightPanel-inner .btn-close {
    position: absolute;
    right: 7px;
    top: 7px;
}
.table-fluid .right-panel .panelScroll input[type=text],
.table-fluid .right-panel .panelScroll input[type=text]:focus,
.table-fluid .right-panel .panelScroll textarea,
.table-fluid .right-panel .panelScroll textarea:focus {
    border: solid 1px #e4e7ea;
}

.table-fluid .intEntTable-wrapper .table-wrapper .intentName, 
.table-fluid .intEntTable-wrapper .table-wrapper .entityName {
    display: inline-block;
    padding: 2px 0px;
    color: #047cc0;
    cursor: pointer;
}

.table-hover>tbody>tr:hover, 
.table-striped>tbody>tr:nth-of-type(odd), 
.table>tbody>tr.active>td, 
.table>tbody>tr.active>th, 
.table>tbody>tr>td.active, 
.table>tbody>tr>th.active, 
.table>tfoot>tr.active>td, 
.table>tfoot>tr.active>th, 
.table>tfoot>tr>td.active, 
.table>tfoot>tr>th.active, 
.table>thead>tr.active>td, 
.table>thead>tr.active>th, 
.table>thead>tr>td.active, 
.table>thead>tr>th.active {
    background-color: #f6f6f6!important;
}

.navbar-fixed-top {
    position: fixed;
}

/* intent, entity 상세패널 */
.intEntTable-wrapper .panel-menu {
    padding: 32px;
}

.intEntTable-wrapper .panel-search {
    padding: 0 32px 0 32px;
}

.intEntTable-wrapper .itemName-wrapper {
    padding: 32px 32px 0 32px;
}

.intEntTable-wrapper .itemName-wrapper .input-group {
    width: 100%;
}

.intEntTable-wrapper .itemName-wrapper .input-group-btn .btn{
    border: solid 1px #fff !important;
    opacity: 0.3;
}

.intEntTable-wrapper .itemName-wrapper .input-group-btn .btn:hover, .intEntTable-wrapper .itemName-wrapper .input-group-btn .btn:focus  {
    background: none;
    border: solid 1px #fff;
    opacity: 0.8;
    box-shadow: none;
}

.intEntTable-wrapper .itemName-wrapper .panelIntentName-wrapper,
.intEntTable-wrapper .itemName-wrapper .panelEntityName-wrapper{
    border-bottom: solid 1px #d0dada;
}

.intEntTable-wrapper .itemName-wrapper .itemName {
    padding-left: 0;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: bold;
}

.intEntTable-wrapper .itemName-wrapper .itemName:focus {
    box-shadow: none;    
}

.intEntTable-wrapper .middle-wrapper{
     padding: 0px 32px 0 32px;
}

.intEntTable-wrapper .middle-wrapper .btn {
    color: #777 !important;
}

.intEntTable-wrapper .panelTop-title {
    float: left;
    padding-top: 7px;
    width: 20%;
    font-size: 16px;
    font-weight: normal;

}

.intEntTable-wrapper .panelTop-menuWrapper {
    float: right;
    text-align: right;
}

.intEntTable-wrapper .panelTop-menuWrapper li {
    margin-left: 7px;
    text-align: right;
    float: left;
}

.intEntTable-wrapper .panelTop-menuWrapper li button {
    font-size: 1.2rem;
}

.intEntTable-wrapper .intentEx-item, .intEntTable-wrapper .entityEx-item  {
    width: 100%;
    margin-top: 15px;
}

.intEntTable-wrapper .intentEx-item, .intEntTable-wrapper .entityEx-item textarea,
.intEntTable-wrapper .intentEx-item, .intEntTable-wrapper .entityEx-item textarea:focus {
    border-radius: 0px;
    border-top: none;
    box-shadow: none;

}

.intEntTable-wrapper .intentEx-input{
    width: 90%;
}

.intEntTable-wrapper .intentEx-item .fa, .intEntTable-wrapper .entityEx-item .fa{
    opacity: 0.3;
}
.intEntTable-wrapper .intentEx-item .fa, .intEntTable-wrapper .entityEx-item .fa:hover{
    opacity: 0.7;
}

.intEntTable-wrapper .intEnt-name > .active {
    font-weight: bold;
    color: #023049;
}

.intEntTable-wrapper .entityEx-item .input-group .btn,
.intEntTable-wrapper .entityEx-item .input-group .btn:hover,
.intEntTable-wrapper .entityEx-item .input-group .btn:focus{
    border: 1px solid #ccc;
    border-left: none !important;
    background: none !important;
    box-shadow: none !important;
    border-bottom: 1px dotted #ddd;
}

.intEntTable-wrapper .entityEx-item .input-group .eX-name,
.intEntTable-wrapper .entityEx-item .input-group .eX-name:focus {
    border: 1px solid #ccc;
    border-right: none !important;
    box-shadow: none; 
    border-bottom: 1px dotted #ddd;
    font-weight: bold;
}

.intEntTable-wrapper .itemEx-wrapper {
    position: relative;
    padding-bottom: 20px;
}

.no-data {
    margin-top: 15%;
    width: 100%;
    text-align: center;
    color: #999;
}
.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.conver-userPic {
    width: 30px;
    height: 30px;
}

/* 채널 */
.chanel-wrapper {
    padding: 15px 25px;
}
.chanel-box {
    text-align: center;
    padding: 50px;
    padding-bottom: 0;
}
.chanel-box .chanelBox-img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.chanel-box .chanel-title {
    padding: 27px 0 43px 0;
    color: #0d0d0d;
    font-weight: 600;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px 0;
    color: #333;
    border-top: 1px solid #cacaca;
}
.b-r {
    border-right: 1px solid #cacaca;
}

.thumbnail {
    padding: 0;
    border-radius: 10px;
    border: 1px solid #cacaca;
}
.soc-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

/* tempList페이지 */
.tempList-manager a {
    margin-right: 10px !important;
}

.graphTable-wrapper {
    padding: 0 15px;
}
.graphTable-tbodyWrapper {
    overflow-y: auto; 
}

.table-fluid .table-container .treetable-expanded > td:first-child,
.table-fluid .table-container .treetable-collapsed > td:first-child {
    padding-left: 2em;
}

.table-fluid .table-container .treetable-expanded > td:first-child > .treetable-expander,
.table-fluid .table-container .treetable-collapsed > td:first-child > .treetable-expander {
    top: 0.05em !important;
    position: relative;
    margin-left: -1.5em !important;
    margin-right: 0.25em !important;
}

.table-fluid .table-container .treetable-expanded .treetable-expander, 
.table-fluid .table-container .treetable-expanded .treetable-expander {
    width: 1em;
    height: 1em;
    cursor: pointer !important;
    position: relative;
    display: inline-block;
}

.table-fluid .table-container .treetable-depth-1 > td:first-child {
    padding-left: 3.5em !important;
}

.table-fluid .table-container .treetable-depth-2 > td:first-child {
    padding-left: 5em !important;
}

.table-fluid .table-container .treetable-depth-3 > td:first-child {
    padding-left: 6em !important;
}

.table-fluid .table-container .graphTable-scroll {
    width: 100%;
    height: 70px;
    overflow-y: auto; 
}

.fa-angle-right:before {
    content: "\f105";
    cursor: pointer !important;
}
.fa-angle-down:before {
    content: "\f107";
    cursor: pointer !important;
}

.table-fluid .table-container .graphTable-tbodyWrapper table td {
    border-bottom: solid 1px #d9d9d9;
}

.jq-toast-wrap {
    width: 300px !important;
}




