<div class="col-xs-12">
    <a href="{$link}">
    <!-- 목록 박스 영역 -->
    <div class="white-box bot-itemBox default-box thumbnail chatbot" style="height:100px;text-align:center">
        <div class="chatbot-avatar d-absolute ml-15" style="background-image:url({$avatar});"></div>
        <div class="col-md-12 col-sm-12 col-xs-12"><h3 class="dash-botName">{$name}</h3>{$callNo}</div>
        <div class="col-md-12 col-sm-12 col-xs-12"><p class="dash-botService">{$service}</p></div>
        <div class="col-md-12 col-sm-12 col-xs-12"><h3 class="dash-botName">{$userTotalAccessCount}</h3></div>
        <div class="col-md-12 col-sm-12 col-xs-12"><h3 class="dash-botName">{$userMonthlyAccessCount}</h3></div>
        <div class="mt-30 txt-align-center"><p>{$dRegis}</p>
            <div class="botMenu-wrapper">
                <div class="dropdown">
                <span class="dropdown-toggle" id="botMenu-{$uid}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </span>
                    <ul class="dropdown-menu" aria-labelledby="botMenu-{$uid}">
                        <!--li class="dropdown-item" data-role="botMenu" data-action="dialog" data-bot="{$uid}" data-vendor="{$vendor}">
                            대화 관리
                        </li-->
                        <li class="dropdown-item" data-role="botMenu" data-action="copyBot" data-bot="{$uid}" data-vendor="{$vendor}">
                            복사
                        </li>
                        <!--li class="dropdown-item" data-role="botMenu" data-action="delete" data-bot="{$uid}" data-vendor="{$vendor}">
                            삭제
                        </li-->
                    </ul>
                </div>
            </div>
        </div>

    </div>
    </a>
</div>